.search-container {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  align-items: center;
}

.input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #45a049;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #4caf50;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
